<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Reach out</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-block btn-social btn-linkedin" target="_blank" href="https://www.linkedin.com/in/johnsommerville/">
                    <i class="fab fa-linkedin">
                    </i>
                    John Sommerville
                </a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-block btn-social btn-github" target="_blank" href="https://github.com/NullReferenceError">
                    <i class="fab fa-github-square">
                    </i>
                    NullReferenceError
                </a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-block btn-social btn-primary" target="_blank" href="mailto: jacksomm@gmail.com">
                    <i class="fas fa-envelope">
                    </i>
                    jacksomm@gmail.com
                </a>
            </li>
        </ul>
    </div>
</div>