@page
@model johnsommerville.com.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<h1>Education</h1>
Certifications
OnBase System Administration Certified (2018) - https://training.hyland.com/certifications/ocsa
OnBase API Certified (2019) - https://training.hyland.com/certifications/ocapi

Formal Education
University of North Texas
Bachelor of Science in Electrical Engineering
2007 - 2012

Notable Projects:


Activities and Societies:
College of ENgineering Deans List
Alpha Lambda Delta Honor Society

