@page
@model johnsommerville.com.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<h1 class="display-4">Education</h1>
<ul>
    <li>Certifications</li>
    <li>OnBase System Administration Certified (2018) - https://training.hyland.com/certifications/ocsa</li>
    <li> OnBase API Certified (2019) - https://training.hyland.com/certifications/ocapi</li>
</ul>
<ul>
    <li>Formal Education</li>
    <li>University of North Texas</li>
    <li>Bachelor of Science in Electrical Engineering</li>
    <li>2007 - 2012</li>
</ul>
<ul>
    <li>Notable Projects:</li>
    <li>Activities and Societies:</li>
    <li>College of ENgineering Deans List</li>
    <li>Alpha Lambda Delta Honor Society</li>
</ul>
