@page
@model johnsommerville.com.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<div class="container">
    <h1>Formal Education</h1>
    <h2>University of North Texas</h2>
    <h3>Bachelor of Science in Electrical Engineering</h3>
    <h3>Minor in Mathematics</h3>
    <h3>2007 - 2012</h3>
    <h3>Activities and Societies:</h3>
    <ul>
        <li>College of Engineering Deans List</li>
        <li>Alpha Lambda Delta Honor Society</li>
    </ul>
</div>
 
<div class="container">
    <h1>Certifications</h1>
    <ul>
        <li><a href="https://training.hyland.com/certifications/ocsa">OnBase System Administration Certified (2018)</a></li>
        <li><a href="https://training.hyland.com/certifications/ocapi">OnBase API Certified (2019)</a></li>
    </ul>
</div>
