@page
@model johnsommerville.com.Pages.ExperienceModel
@{
    ViewData["Title"] = "Experience";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Experience</h1>

            <p>Senior Applications Developer</p>
            <p>Texas Woman's University</p>
            <p>Denton, Texas</p>
            <p>May 2016 - Present</p>
            <br/>
            <p>Software Application Developer</p>
            <p>Brierley+Partners</p>
            <p>Plano, Texas</p>
            <p>Aug 2013 - Current</p>
            <p>Provide client development, data modeling, integration and support</p>
            <p>Participate in Agile Methodologies with teams to achieve goals through an entire software development life cycle</p>
            <p>Utilize PetaPoco and NHibernate as ODBC connectors for Application to Database communication</p>
            <p>Implement Jenkins as a Continuous Integration utility for migrating code to upper environments</p>
            <p>Create testing plan procedures and technical documentation for supported code</p>
            <br/>
            <br/>
            <br/>
            <p>Solutions Engineer</p>
            <p>LG Networks Inc</p>
            <p>Dallas, Texas</p>
            <p>January 2013 - Aug 2013</p>
            <br/>
            <p>Created, managed, and upgraded Active Directory Domain Controllers, Microsoft Exchange servers,  and other various servers for over 30 small business clients in the DFW metroplex</p>
            <p>Program solutions for client issues, including VB.NET, C#, or scripts to produce programs that manipulated data or files for small business flow</p>
            <p>Maintained Level 1 and Level 2 help desk support, as well as 24/7 rotating call schedule</p>
            <br/>
            <p>IT Manager/Server Administrator</p>
            <p>Clinic of Dr. John G. McHenry Neuro-Ophthalmology</p>
            <p>Dates EmployedMay 2012 – Oct 2012</p>
            <p>Dallas, Texas</p>
            <p>Manage 5 Windows 2008 servers, several SQL databases, around 60 workstations and users</p>
            <p>Troubleshoot and develop solutions for different types of eye field examination devices</p>
            <br/>
            <p>Operational Support Technician</p>
            <p>University of North Texas Libraries</p>
            <p>Denton, Texas</p>
            <p>September 2010 - May 2012</p>
            <br/>
            <p>Managed Windows and Mac OS X systems with software distribution platforms and server management systems</p>
            <p>Provided support for network administrators, help desk supervisors, and programmers</p>
            <p>Assisted Library patrons and staff with computer technical support, hardware support, and software support</p>
            <br/>
            <br/>
            <p>Co-op/Intern</p>
            <p>L-3 Communications Link Simulation and Training</p>
            <p>Arlington, Texas</p>
            <p>Jul 2008 - Feb 2010</p>
            <br/>
            <br/>
            <p>Provided support for program, software, and system engineers</p>
            <p>Worked in developing flight simulators for Royal Danish Air Force, The Hellenic Air Force (Greece), American Air Force, and the American Navy</p>
            <p>Acquired and maintained a DOD Secret Clearance throughout internship</p>
            </div>
    </div>
</div>