@page
@model johnsommerville.com.Pages.ExperienceModel
@{
    ViewData["Title"] = "Experience";
}

<h1>Experience</h1>

Senior Applications Developer
Texas Woman's University
Denton, Texas
May 2016 - Present

Software Application Developer
Brierley+Partners
Plano, Texas
Aug 2013 - Current
Provide client development, data modeling, integration and support
Participate in Agile Methodologies with teams to achieve goals through an entire software development life cycle
Utilize PetaPoco and NHibernate as ODBC connectors for Application to Database communication
Implement Jenkins as a Continuous Integration utility for migrating code to upper environments
Create testing plan procedures and technical documentation for supported code



Solutions Engineer
LG Networks Inc
Dallas, Texas
January 2013 - Aug 2013

Created, managed, and upgraded Active Directory Domain Controllers, Microsoft Exchange servers,  and other various servers for over 30 small business clients in the DFW metroplex
Program solutions for client issues, including VB.NET, C#, or scripts to produce programs that manipulated data or files for small business flow
Maintained Level 1 and Level 2 help desk support, as well as 24/7 rotating call schedule

IT Manager/Server Administrator
Company NameClinic of Dr. John G. McHenry Neuro-Ophthalmology
Dates EmployedMay 2012 – Oct 2012
Employment Duration6 mos
LocationDallas, Texas
Manage 5 Windows 2008 servers, several SQL databases, around 60 workstations and users
Troubleshoot and develop solutions for different types of eye field examination devices

Operational Support Technician
University of North Texas Libraries
Denton, Texas
September 2010 - May 2012

Managed Windows and Mac OS X systems with software distribution platforms and server management systems
Provided support for network administrators, help desk supervisors, and programmers
Assisted Library patrons and staff with computer technical support, hardware support, and software support


Co-op/Intern
L-3 Communications Link Simulation and Training
Arlington, Texas
Jul 2008 - Feb 2010


Provided support for program, software, and system engineers
Worked in developing flight simulators for Royal Danish Air Force, The Hellenic Air Force (Greece), American Air Force, and the American Navy
Acquired and maintained a DOD Secret Clearance throughout internship
