@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>

<p>Hello.  My name is John Sommerville, and I am a Software Engineer with a passion for new and expanding technologies.</p>
<p>I enjoy implementing systems with web APIs, as well as fulfilling client dreams of working, effortless solutions.</p>
<p>I also enjoy building custom watercooled PCs and tinkering with a homelab in my free time.</p>

<h1>About My Site</h1>
<p>This site was written in .NET Core 2.2 with Razor Pages.</p>
<p>The source code <a href="https://github.com/NullReferenceError/johnsommerville.com">exists on Github.</a></p>
<p>Commits to this site automatically build in Azure DevOps, and Pull Requests to master are automatically deployed.</p>
<p>Currently this site is running in a Docker container, deployed to the Azure Kubernetes Service with help from Helm.</p>