@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Hello.  This is a generic about me page.</p>
    <p>Check list of things to do still:</p>
    <ul>
        <li>Move resume over</li>
        <li>Write up the about page</li>
        <li>Get look and feel working/looking good</li>
        <li>Get Docker deployment running on a cloud service</li>
        <li>NGinx reverse proxy pointing to cloud service</li>
        <li>Get Docker deployment running on multiple cloud services</li>
        <li>Start blog pages</li>
        <li>Start testing ground/project pages</li>
    </ul>
</div>