@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<h1 class="display-4">Myself</h1>
<p>Hello.  My name is John Sommerville, and I am a Software Engineer with a passion for new and expanding technologies.</p>
<p>I enjoy implementing systems with Web APIs, as well as fulfilling client and customer's dreams of working, effortless solutions.</p>
<p>I also enjoy building custom watercooled PCs and tinkering with a homelab in my free time.</p>

<h1 class="display-4">This site</h1>
<p>This site was written in dotnet core 2.2 with Razor Pages.</p>
<p>Commits to this site automatically build in Azure DevOps, and Pull Requests to master are automatically deployed.</p>
<p>Currently this site is running in a docker container, deployed to the Azure Kubernetes Service with help from Helm.</p>
<p>Check list of things to do still:</p>
<ul>
    <li>Move resume over</li>
    <li>Write up the about page</li>
    <li>Get look and feel working/looking good</li>
    <li>NGinx reverse proxy pointing to other cloud service deployments (Azure, AWS, Google)</li>
    <li>Get Docker deployment running on multiple cloud services</li>
    <li>Start blog pages</li>
    <li>Start testing ground/project pages</li>
</ul>
