@page
@model johnsommerville.com.Pages.SkillsModel
@{
}


<h1 class="display-4">Skills</h1>
<p>Software and other skills ranked by proficiency</p>
<ul>
    @foreach(var skill in Model.SkillsList)
    {
        <li>@skill.SkillName - @skill.Proficiency</li>
    }
</ul>