@page
@model johnsommerville.com.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}


<h1>Skills</h1>
<p>Software and other skills ranked by proficiency</p>
@foreach (var skillProf in Model.SkillsList.OrderByDescending(u => u.Proficiency).Select(u => u.Proficiency).Distinct())
{
    <h2>@skillProf</h2>
    <p>
        @foreach (var relatedSkills in Model.SkillsList.Where(u => u.Proficiency == skillProf))
        {
            <text> | </text>
            @relatedSkills.SkillName
        }
    </p>
}